.App {
  text-align: center;
  display: block;

  margin: 0;
  padding: 0;
}
.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid red;
  width: 500px;
  border-radius: 8%;
  background-color: bisque;
}
.photo {
  border: 5px solid red;
  border-radius: 50%;
  margin-top: 10px;
  width: 150px;
}
.isi {
  display: flex;
  flex-direction: row;
  gap: 1;
}
hr {
  border: none;
  border-top: 1px dashed #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}